@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pixelify+Sans:wght@500;700&family=Poppins:wght@100;200;300;400;600;700&display=swap');


.contanier{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 95dvh;
    background-image: url(../assets/img/bg_hro.jpeg);
    background-size: cover;
    background-position: center;

  
div{
    background-color: rgba(0, 0, 0, 0.151);
//     backdrop-filter: blur( 2px );
// -webkit-backdrop-filter: blur( 2px );
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;


    span{
      
        color: whitesmoke;
        font-family: 'Poppins', cursive;
        font-size: xx-large;
        display: inherit;
        margin-top: 20px;
        font-weight: bolder;
        text-shadow:2px 2px 0px black;
    
    }
    p{
        display: inherit;
        margin-top: -2px;
        color: whitesmoke;
        font-family: 'Poppins', cursive;
        text-shadow:1px 1px 0px black;
        margin-bottom: 40px;
        font-size: large;
    }
    img{
        width: 30dvw;
        animation: moveUpDown 4s ease-in-out infinite;
    }
    @media screen and (max-width: 768px) {
  

      img{
        min-width: 80dvw;
        animation:none;
       }
    
    
    }
    button{
        letter-spacing: 8px;
        font-weight: bolder;
        font-size: larger;
        background-color: transparent;
        border: none;
        padding: 12px;
        color: whitesmoke;
        border-radius: 10px;
        box-shadow: white;
        margin-top: 15px;
        animation: moveRightLeft 3s ease-in-out infinite;
        border: 1px solid whitesmoke;
        box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
        cursor: pointer;
    }
    button:hover{
        border-bottom: 1px solid white;
        border-radius: 10px;
        background-color: white;
        color: black;
        -webkit-text-stroke: 1px black;
    }
   
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes moveRightLeft {
    0%{
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
      }
  }

  .aboutContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 85dvh;
    background-image: url(../assets/img/quiz.jpg);
    background-size: cover;
    background-position: center;
  }
}