@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pixelify+Sans:wght@500;700&family=Poppins:wght@100;200;300;400;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #5B4FCC #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #5B4FCC;
  border-radius: 10px;
  border: 3px solid #ffffff;
}